/ZeroG/Library
/ZeroG/obj
/ZeroG/UnityVS.ZeroG.CSharp.Plugins.csproj
/ZeroG/UnityVS.ZeroG.sln
/ZeroG/UnityVS.ZeroG.v12.suo
/ZeroG/UnityVS.ZeroG.CSharp.csproj
/ZeroG/UnityVS.ZeroG.CSharp.Editor.csproj
/Finished Builds/Build Archive
