ZeroG/Library/
/ZeroG/obj
/ZeroG/Temp
/ZeroG/UnityVS.Unity Project.CSharp.csproj
/ZeroG/UnityVS.Unity Project.CSharp.Editor.csproj
/ZeroG/UnityVS.Unity Project.CSharp.Plugins.csproj
/ZeroG/UnityVS.Unity Project.sln
/ZeroG/obj/Debug/Assembly-CSharp-firstpass.pdb
/ZeroG/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ZeroG/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ZeroG/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ZeroG/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ZeroG/obj/Debug/UnityVS.Unity Project.CSharp.csproj.FileListAbsolute.txt
/ZeroG/obj/Debug/UnityVS.Unity Project.CSharp.csprojResolveAssemblyReference.cache
/ZeroG/obj/Debug/UnityVS.Unity Project.CSharp.Plugins.csproj.FileListAbsolute.txt
/ZeroG/obj/Debug/UnityVS.Unity Project.CSharp.Plugins.csprojResolveAssemblyReference.cache
/ZeroG/obj/Debug/Assembly-CSharp-firstpass.dll

ZeroG/UnityVS.Unity Project.v12.suo
/Finished Builds/Build Archive
/ZeroG/UnityVS.Unity Project.CSharp.Editor.csproj

/ZeroG/Assets/UnityVs/Editor/
/ZeroG/*.csproj
/ZeroG/*.sln
